* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
    columns: #333333;
}
.section{
padding: 30px 10%;
}
.main{
    margin-top:80px;
}
.header {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
}
.header span {
    font-weight: 300;
    display: block;
}
.header strong {
    font-weight: 900;
    text-transform: uppercase;
}

.video, .form {
    display: inline-block;
    vertical-align: top;
}
form{
     border: 5px solid #2727d9;
     padding: 20px;
}
.form input{
    width: 300px;
    padding: 17px;
    font-size: 18px;
    border: 1px solid #333333
}
.form-header{
    text-align: center;
    font-size: 20px;
    font-weight: 900;

}